<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Automation Suite">
  <test name="UI Tests">
    <classes>
      <class name="com.tmz.Framework.UIAutomation.Tests.Login"/>
      <class name="com.tmz.Framework.UIAutomation.Tests.AddAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
